# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sln
*.sln
*.vcxproj
/VIXEN/build
VIXEN/gatherer_test.txt

# Cache directories
.cache/
cache/

# Local settings
*.local.json

# Logs
*.log
log.txt
logs/

# Temporary files
NUL
*.tmp
*.bak
*~
